:root {
  --text-color: rgba(0, 5, 4, 1);
  --black-02: rgba(29, 29, 29, 1);
  --state-color03: rgba(69, 69, 69, 1);
  --h-5-font-family: "Sora-Regular", Helvetica;
  --h-5-font-weight: 400;
  --h-5-font-size: 24px;
  --h-5-letter-spacing: 0px;
  --h-5-line-height: 150%;
  --h-5-font-style: normal;
  --h-6-font-family: "WorkSans-Regular", Helvetica;
  --h-6-font-weight: 400;
  --h-6-font-size: 16px;
  --h-6-letter-spacing: 0px;
  --h-6-line-height: 150%;
  --h-6-font-style: normal;
}
