body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-raleway: Raleway;
  --font-inter: Inter;
  --font-nunito: Nunito;

  /* font sizes */
  --font-size-11xl: 1.88rem;
  --font-size-base: 1rem;
  --font-size-lg: 1.13rem;
  --font-size-29xl: 3rem;
  --font-size-6xl: 1.56rem;
  --font-size-xl: 1.25rem;
  --font-size-20xl: 2.44rem;
  --font-size-sm: 0.88rem;

  /* Colors */
  --color-white: #fff;
  --color-gray-100: #252a34;
  --color-gray-200: rgba(37, 42, 52, 0.65);
  --color-silver: #c4c4c4;
  --color-gainsboro-100: #ddd;
  --color-gainsboro-200: #d9d9d9;
  --color-darkgreen: #3a7000;
  --color-black: #000;
  --color-whitesmoke: #e7eaef;
  --color-yellowgreen: rgba(93, 177, 4, 0.2);
  --color-dimgray: #555;
  --color-darkgray: #afafaf;

  /* Paddings */
  --padding-xs: 0.75rem;
  --padding-5xl: 1.5rem;
}
